html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.h-40px {
  height: 40px;
}

.rotate-5 {
  transform: rotate(5deg);
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}